!sprites/family/.gitkeep
/sprites/family/*
!sprites/frozen/.gitkeep
/sprites/frozen/*
!sprites/dora/.gitkeep
/sprites/dora/*
!sprites/mermaid/.gitkeep
/sprites/mermaid/*
!sprites/sofia/.gitkeep
/sprites/sofia/*
!sounds/music/.gitkeep
/sounds/music/*
