!sprites/family/.gitkeep
/sprites/family/*
!sprites/frozen/.gitkeep
/sprites/frozen/*
!sprites/dora/.gitkeep
/sprites/dora/*
!sprites/mermaid/.gitkeep
/sprites/mermaid/*
!sprites/sofia/.gitkeep
/sprites/sofia/*
!sprites/belladurmiente/.gitkeep
/sprites/belladurmiente/*
!sprites/doc/.gitkeep
/sprites/doc/*
!sprites/kitty/.gitkeep
/sprites/kitty/*
!sprites/lol/.gitkeep
/sprites/lol/*
!sprites/mickey/.gitkeep
/sprites/mickey/*
!sprites/pawpatrol/.gitkeep
/sprites/pawpatrol/*
!sprites/peppa/.gitkeep
/sprites/peppa/*
!sprites/supergirls/.gitkeep
/sprites/supergirls/*
!sprites/trolls/.gitkeep
/sprites/trolls/*
!sounds/music/.gitkeep
/sounds/music/*
